.Phonetic {
    height: 60px;
    margin: 15px 0;
}

.Phonetic a {
    display: inline-block;
    padding-top: 0px;
    border: 2px solid #ddd;
    text-decoration: none;
    padding: 0px 10px 10px 10px;
    line-height:0.9;
    font-size: 12px;
    margin-right: 5px 0 0;
    font-weight: bold;
    border-radius: 18px;
    transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
    background: purple;
    color: white;
}
.Phonetic .text {
    opacity: 0.5;
    font-weight: bold;
}